<div class="zs-app">

  <zs-recipe-info
    [intro]="zeropsRecipeConfig?.intro"
    [desc]="zeropsRecipeConfig?.description"
    [knowledgeBaseLink]="zeropsRecipeConfig?.knowledgeBaseLink">
  </zs-recipe-info>

  <zs-todos
    (add)="addTodo($event)"
    (remove)="deleteTodo($event)"
    (update)="updateTodo($event.id, $event.data)"
    [data]="todos">
  </zs-todos>

</div>

<z-project-diagram
  #zProjectDiagramElRef
  [projectName]="zeropsRecipeConfig?.projectName"
  [services]="zeropsRecipeConfig?.services">
</z-project-diagram>
